@use 'variaveis';

.footer {
    background-color: variaveis.$corDoBotaoMenu;
    padding: 19px 24px 0 0;
    max-width: 100vw;

    &__container {
        width: 100%;
        margin: 0 auto;
        text-align: center;

        p {
            color: variaveis.$textoSpan;
            max-width: 950px;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 15px;
        }

        img {
            width: 100px;
            height: 100px;
        }

        &__links {
            margin-bottom: 16px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            
            &__item {
                list-style: none;
                display: inline-block;
                font-size: 12px;

                a {
                    display: block;
                    text-decoration: none;
                    padding: 8px;
                    color: variaveis.$corDoTitulo;
                }
            }
        }
    }
}
