@use 'variaveis';

.show {
    max-width: 100vw;
    padding: 0 54px;
    padding-bottom: 20px;

    .livre {
        width: 20px;
        height: 20px;
    }

    h1 {
        color: variaveis.$textoTitulo;
        font-weight: 700px;
        padding-bottom: 14px;
    }

    &__resumo {
        width: 100%;
        display: block;
        color: variaveis.$textoSpan;

        &__logo {
            max-width: 300px;
            height: auto;
            padding: 56px 0 12px;
        }

        &__classificacao {
            display: block;

            .cc {
                width: 27px;
                height: 20px;
            }     
        }

        .button {
            margin-top: 32px;
        }

        p {
            margin: 18px 0;
        }
    }

    &__detalhes {
        width: 100%;
        display: block;

        h2 {
            text-transform: uppercase;
            color: white;
            letter-spacing: 1.7px;
        }

        hr {
            border: 1px solid hsla(0,0%,98%,.2);
            margin: 14px 0;
        }

        &__info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: nowrap;
            gap: 12px;

            @media (max-width: 768px) {
                display: block;
            }

            &__sinopse {
                width: 100%;
                padding-right: 12px;
                max-width: 767px;

                p {
                    color: variaveis.$textoTitulo;
                    margin: 0;
                }
            }
            
            &__metadata {
                width: 100%;
                padding-left: 12px;
                gap: 15px;
                display: flex;
                flex-direction: row;
                align-self: end;
                padding-bottom: 16px;

                @media (max-width: 768px) {
                    margin-top: 20px;
                    padding-left: 0;
                }

                span {
                    color: variaveis.$textoSpan;
                }

                p {
                    color: variaveis.$textoTitulo;
                    padding-top: 5px;
                }

                &__dados {
                    flex: 1 1;
                }
            }
        }
    }

    &__recomendacao {
        width: 100%;
        display: block;
        padding-top: 50px;

        &__container {
            display: flex;
            gap: 20px;

            @media (max-width: 768px) {
                display: block;
            }

            &__item {
                cursor: pointer;

                img {
                    max-width: 500px;
                    width: 100%;
                    transition: transform 0.5s ease-in-out, box-shadow 0.5s;

                    &:hover {
                        box-shadow: 0px 0px 54px 14px rgba(224,97,97,0.63);
                        transform: scale(1.08);
                    }

                    @media (max-width: 768px) {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}