$corDoBotaoMenu: #0e0b14;
$corDoBotaoMenuHover: silver;
$textoBotaoMenu: #f9f9f9;
$corBotaoMenuSecundario: #02d6e8;
$textoBotaoMenuSecundario: #02172a;
$textoSpan: silver;
$textoTitulo: #f9f9f9;
$corDoTitulo: #FFF;

