@use 'header';
@use 'variaveis';
@use 'show';
@use 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../../src/images/fundo.png");
    background-position: center;
    
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
}

.text--big {
    @include text(20px)
}

.text--small {
    @include text(12px);
}

.button {
    border-radius: .25rem;
    box-sizing: border-box;
    justify-content: center;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1.7px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    height: 40px;
    padding: 9px 12px;

    &--dark {
        background-color: variaveis.$corDoBotaoMenu;
        color: variaveis.$textoBotaoMenu;

        &:hover {
            background-color: variaveis.$corDoBotaoMenuHover;
            color: variaveis.$textoBotaoMenuSecundario;
        }
    }

    &--secundary {
        background-color: variaveis.$corBotaoMenuSecundario;
        color: variaveis.$textoBotaoMenuSecundario;
        border: none;

        &:hover {
            background-color: lighten(variaveis.$corBotaoMenuSecundario, 3%);
        }
    }
}